
#menu a{
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: bold;
  /*color:#497e04;*/
}
span{
  font-weight:400;
  font-size:14px;
  line-height:1.2em;
  display:block;
}
#menu li a{
  display:block;
  font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;line-height:1.2em;
  color:#bbb;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  letter-spacing:-1px;height:79px;
  font-style:normal;font-weight:700
}
#menu li a span{font-size:13px;
  line-height:1.2em;
  color:#666666;
  display:block;
  letter-spacing:-1px;
  margin-top:-3px;
  font-weight:normal
}
#menu li a:hover, #menu .active a{color:#497e04}
#menu li a:hover span, #menu .active a span{color:#fff}
